.mybox div{
    background-color: black;
    border: 20px;
    padding: 20px;
    color: white;
    border-style: solid;
    color: red;
    padding: 5px;
    border-width: 10px;
    
}
.mybox h1{
    font-style: italic;
    text-decoration: underline;
    text-shadow: 1px;
    background-color: black;
    color: white;

}
.mybox p{
    color: white;
}